flask # Main web framework used to create the RESTful API and handle routes
flask-cors   # Enables Cross-Origin Resource Sharing, allowing the frontend to communicate with the API
mysql-connector-python # Allows Python to connect and interact with a MySQL database
