<!DOCTYPE html>
<html>
<head>
    <title>Travel Planner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <h1>Trips</h1>
    <div><button id="button-showCreate" onclick="showCreate()">Create a Trip</button><br/><br/></div>

    <div>
        <table border="1" id="tripTable">
            <tr>
                <th>ID</th>
                <th>Trip Name</th>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </table>
        <br/>
    </div>

    <div id="createUpdateForm" style="display:none">
        <h2><span id="createLabel">Create a</span> <span id="updateLabel">Update this</span> Trip</h2>
        ID <input type="text" name="id"><br/>
        Trip Name <input type="text" name="trip_name"><br/>
        Destination <input type="text" name="destination"><br/>
        Start Date <input type="date" name="start_date"><br/>
        End Date <input type="date" name="end_date"><br/>

        <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
        <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>


